{% extends '/auth/base-auth.html' %}


{% block content %}
<header>
       <div class="logo">
        <h3> Survey login </h3>
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="150px" />
    </div>
</header>
<script>
    var timer = setTimeout(function () {
        window.location = '/auth/'
    }, 5000);
</script>

<div class="center">
    <img src="{{ url_for('static', filename='images/logo.png') }}" height="100px" />
    <h3> Gracias por participar </h3>
    <p> tu voto ha sido procesado y anonimizado. Lo podrás consultar usando tu código UUID</p>
</div>


{% endblock %}